<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_branches_root"
        name="Branchs"
        sequence="0"/>

    
    <!-- <menuitem
        id="menu_configration_master"
        name="Configration"
        parent="menu_create_cv_root"
        sequence="1"/> -->

</odoo>
