<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_legal_administration_root"
        name="Legal Administration"
        sequence="0"/>


    <menuitem
        id="menu_issues_master"
        name="Issues"
        parent="menu_legal_administration_root"
        sequence="0"/>


    <menuitem
        id="menu_sessions_master"
        name="Sessions"
        parent="menu_legal_administration_root"
        sequence="0"/>


    <menuitem
        id="menu_appeal_master"
        name="Appeal"
        parent="menu_legal_administration_root"
        sequence="0"/>


    <menuitem
        id="menu_implementation_master"
        name="Implementation"
        parent="menu_legal_administration_root"
        sequence="0"/>

</odoo>
