<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_room_booking_root"
        name="Meeting Rooms"
        sequence="0"/>


    <menuitem
        id="menu_configration_master"
        name="Configrations"
        parent="menu_room_booking_root"
        sequence="1"
        groups="group_room_booking_administrator"/>

</odoo>
